* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

.title {
    font-weight: 700;
    color: #151414;
    padding: 10px 0;
} 

.description {
    font-weight: 400;
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    padding: 10px 0;
}

.btn{
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

/* primary section end */

header {
    background-image: url('../images/banner/banner.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    height: 70px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo a {
    color: #151414;
    font-weight: 700;
    font-size: 48px;
}

.logo a span {
    color: #F15B22;
}

nav {
    width: 30%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    font-weight: 600;
    font-size: 20px;
    color: #151414;
}

nav ul li a span{
    color: #F15B22;
}
.banner{
    text-align: right;
    width: 80%;
    margin: auto;
    padding-top: 5%;
}

.banner h1 {
    font-size: 65px;
    line-height: 76px;
}

.banner button{
    background: #F15B22;
}

.banner button a{
    color: #FFFFFF;
}

/* header section end */

main{
    width: 80%;
    margin: auto;
    padding: 5% 0;
}

main section{
    padding-bottom: 10%;
}

.first-section{
    display: flex;
}

.story-image img{
    width: 85%;
    padding-left: 50px;
}

.story{
    padding-top: 15%;
}

.story h2{
    font-size: 40px;
}

.story p span{
    color: #16D887;
}

.second-section h2{
    text-align: center;
    font-size: 40px;
}

.plans{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
}

.plan h2{
    font-size: 30px;
}

.plan p{
    font-size: 25px;
}

.third-section{
    background: url('../images/watch.png'), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    background-blend-mode: overlay;
    height: 178px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.third-section h2{
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 70px;
    margin-left: 50px;
}

.third-section button{
    background: #FFFFFF;
    margin-left: 50px;
    margin-top: 5px;
}

.third-section button a{
    color: #F15B22;
}

/* main section end */

footer{
    height: 80vh;
    background-color: #151414; 
    display: flex;  
    justify-content: space-around;
    align-items: center;
}

.footer-description h2{
    color: #f8f8f8;
}

.footer-description p{
    color: #FFFFFF;
}

.icon{
    margin-top: 15px;
}

.icon img{
    margin-right: 5px;
}

.footer-form{
    margin-top: -10%;
}

.footer-form h2{
    color: #f8f8f8;
    margin-bottom: 12px;
}

.footer-form button{
    background: #FFFFFF;
    margin-top: 20px;
}

.footer-form button a{
    color: #F15B22;
}

.footer-form input[type="email"]{
    background: none;
    width: 300px;
    border: 1px solid #FFFFFF;
    padding: 20px 25px;
    color: #FFFFFF;
    border-radius: 5px;
}

.footer-form input::placeholder{
    color: #FFFFFF;
}